

/* ----------------------PAGE PRINCIPALE-------------------------*/

p
{
	font-size: 1.2em;
}
header
{
	display: flex;
	justify-content: center;
	background-color: #9ccf56;
}
footer
{
	display: flex;
	justify-content: space-around;
	background-color: #9ccf56;
}
#box
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.menu
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 500px;
	box-shadow: 0px 0px 10px 0px rgba(191,224,146,1);
	margin: 20px;
}
.menu:hover
{
	background-color:#e2f1ce;
}
a
{
	color: black;
	text-decoration: none;
}

/* ----------------------Menu 1-------------------------*/
#container
{
	display: flex;
	flex-direction: column;
	background-color:#e2f1ce;
	flex-wrap: nowrap;
}
.mini_box
{
	display: flex;
	justify-content: space-around;
}
.left
{
	display: flex;
	flex-direction: column;
}
.price
{
	display: flex;
	flex-direction: column;
}
.center
{
	background-color:yellow;
	padding: 0px 50px 0px 50px;
	display:inline-block;
}
.trait 
{
  height:4px;
  width:auto;
  background:black;
  position:relative;
  text-align: center;
  margin: 20px 0px 20px 0px;
}
/* ----------------------Menu 2-------------------------*/
/* ----------------------Menu 3-------------------------*/
/* ----------------------Menu 4-------------------------*/