/* ----------------------TYPOGRAPHIE-------------------------*/
@font-face { /* Ohmyfood */
    font-family: 'balooregular';
    src: url('fonts/Baloo-Regular-webfont.eot');
    src: url('fonts/Baloo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Baloo-Regular-webfont.woff2') format('woff2'),
         url('fonts/Baloo-Regular-webfont.woff') format('woff'),
         url('fonts/Baloo-Regular-webfont.ttf') format('truetype'),
         url('fonts/Baloo-Regular-webfont.svg#balooregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face { /* menu1 */
    font-family: 'calligraffitiregular';
    src: url('fonts/Calligraffiti-webfont.eot');
    src: url('fonts/Calligraffiti-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Calligraffiti-webfont.woff2') format('woff2'),
         url('fonts/Calligraffiti-webfont.woff') format('woff'),
         url('fonts/Calligraffiti-webfont.ttf') format('truetype'),
         url('fonts/Calligraffiti-webfont.svg#calligraffitiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face { /* menu2 */
    font-family: 'caviar_dreamsregular';
    src: url('fonts/CaviarDreams-webfont.eot');
    src: url('fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CaviarDreams-webfont.woff2') format('woff2'),
         url('fonts/CaviarDreams-webfont.woff') format('woff'),
         url('fonts/CaviarDreams-webfont.ttf') format('truetype'),
         url('fonts/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face { /* menu3 */
    font-family: 'redressedregular';
    src: url('fonts/Redressed-webfont.eot');
    src: url('fonts/Redressed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Redressed-webfont.woff2') format('woff2'),
         url('fonts/Redressed-webfont.woff') format('woff'),
         url('fonts/Redressed-webfont.ttf') format('truetype'),
         url('fonts/Redressed-webfont.svg#redressedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face { /* menu4 */
    font-family: 'dubielplainregular';
    src: url('fonts/Dubiel-webfont.eot');
    src: url('fonts/Dubiel-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Dubiel-webfont.woff2') format('woff2'),
         url('fonts/Dubiel-webfont.woff') format('woff'),
         url('fonts/Dubiel-webfont.ttf') format('truetype'),
         url('fonts/Dubiel-webfont.svg#dubielplainregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face { /* Texte */
    font-family: 'didact_gothicregular';
    src: url('fonts/didactgothic-regular-webfont.eot');
    src: url('fonts/didactgothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/didactgothic-regular-webfont.woff2') format('woff2'),
         url('fonts/didactgothic-regular-webfont.woff') format('woff'),
         url('fonts/didactgothic-regular-webfont.ttf') format('truetype'),
         url('fonts/didactgothic-regular-webfont.svg#didact_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ----------------------HEADER-------------------------*/
header{
    display: flex;
    justify-content: center;
    background-color: #00734d;
    margin: -10px -10px 0px -10px;
    height: 90px;
    align-items: center;

}
/* ----------------------FOOTER-------------------------*/
.footer{
    display: flex;
    justify-content: space-around;
    background-color: #00734d;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.jaune
{
    color:  #ffd915;
}
.tremble:hover{
    animation: wiggle 5s infinite;
}
@keyframes wiggle{
    0%{ transform: rotate(0deg) }
    5%{ transform: rotate(-5deg) }
    10%{ transform: rotate(5deg) }
    15%{ transform: rotate(0deg) }
    100%{ transform: rotate(0deg) }
}
/* ----------------------PAGE D'ACCUEIL-------------------------*/
#box{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.menu{ 
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 500px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	margin: 50px 25px 50px 25px;
}

.zoom /*zoom sur l'image*/
{
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
}
.zoom:hover /*zoom sur l'image*/
{
        transform: scale(1.15);
}
a
{

    text-decoration: none;
}
i /*icon*/
{
    font-size: 2em;
    background: -webkit-linear-gradient(0.99turn, #f05060, #f6916a);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
.prochainement{ 
    background-color: #00734d;
    display: flex;
    justify-content: center;
    width: 300px;
    border-radius: 10px;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    margin-bottom: 100px;
    font-family: 'didact_gothicregular';
    font-weight: bold;
    color: #ffd915;
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
}
.prochainement:hover /*bouton prochainement*/
{
        transform: scale(1.15);
}
/* ----------------------ANIMATION POINTS-------------------------*/
.dot{
margin-top: 27px;
margin-left: 10px;
}
.dot span{
    width: 0.5em;
    height: 0.5em;
    margin: 0 2px;
    background-color: #ffd915;
    border-radius: 50%;
    display: inline-block;
    animation-name: JumpingDots;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.dot span:nth-child(2){
    animation-delay: 0.4s;
}
.dot span:nth-child(3){
    animation-delay: 0.8s;
}
@keyframes JumpingDots{
    30%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
}
/* ----------------------DANS LES 4 MENU-------------------------*/
.left{
    display: flex;
    flex-direction: column;
}
.price{
    display: flex;
    flex-direction: column;
}
h1{
    font-family: 'balooregular';
    color: #ffd915;
    font-size: 2.5em;
}
p{
    font-size: 1.2em;
    font-family: 'didact_gothicregular';
}
.responsive {
    width: 100%;
    max-width: 900px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#test_traits{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 50px 50px 50px;
}
.titre{
    font-size: 1.5em;
    text-align: center;
}
/* ----------------------Menu 1-------------------------*/

#container1
{
	display: flex;
	flex-direction: column;
	background-color:#fad2d2;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin: 50px 50px 100px 50px;
    padding-bottom: 20px;
    border-radius: 30px;
}
.menu1{
	font-family: 'calligraffitiregular';
	text-align: center;
	font-weight: bold; 
	font-size: 1.6em;
    background: -webkit-linear-gradient(0.99turn, #f05060, #f6916a);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
.menuu1{
        font-family: 'calligraffitiregular';
    text-align: center;
    font-weight: bold; 
    font-size: 1.6em;
    color: #f05060;
}
.trait_menu1{
    max-width: 30%;
    width: 100%;
    height: auto;
}
.calligraffitiregular{
    
    display: inline-block;
    position: relative;
    font-family: 'calligraffitiregular';
    font-size: 1.5em;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    min-width: 150px;
}
.calligraffitiregular::before{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.calligraffitiregular:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* ----------------------Menu 2-------------------------*/
#container2
{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin: 50px 50px 100px 50px;
    padding-bottom: 20px;
    border-radius: 30px;
}
.menu2{
	font-family: 'caviar_dreamsregular';
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
    background: -webkit-linear-gradient(0.99turn, #e38a12, #8f5aff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
.menuu2{
    font-family: 'caviar_dreamsregular';
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #e38a12;
}
.orange{
    color: #e38a12;
}
.violet1{
    color: #b36e9a;
}
.violet2{
    color: #8f5aff;
}

.caviar_dreamsregular{
font-family: 'caviar_dreamsregular';
}
.trait_menu2{
    max-width: 35%;
    width: 100%;
    height: auto;
}
.caviar_dreamsregular{
    
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    min-width: 150px;
}
.caviar_dreamsregular::before{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    margin-bottom: -5px;
}
.caviar_dreamsregular:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* ----------------------Menu 3-------------------------*/
#container3
{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin: 50px 50px 100px 50px;
    padding-bottom: 20px;
    border-radius: 30px;
}
.menu3{
	font-family: 'redressedregular';
	text-align: center;
	font-size: 1.8em;
    background: -webkit-linear-gradient(0.99turn, #1f40df, #0889fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menuu3{
    font-family: 'redressedregular';
    text-align: center;
    font-size: 1.8em;
    color: #0889fb;
 
}
.redressedregular{
font-family: 'redressedregular';
}
.trait_menu3{
    max-width: 27%;
    width: 100%;
    height: auto;
}
.redressedregular{
    
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    min-width: 150px;
}
.redressedregular::before{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    margin-bottom: -5px;
}
.redressedregular:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* ----------------------Menu 4-------------------------*/
#container4
{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin: 50px 50px 100px 50px;
    padding-bottom: 20px;
    border-radius: 30px;
}
.menu4{
	font-family: 'dubielplainregular';
	text-align: center;
	font-size: 2em;
    background: -webkit-linear-gradient(0.99turn, #3e923a, #90ff25);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menuu4{
    font-family: 'dubielplainregular';
    text-align: center;
    font-size: 2em;   
    color: #3e923a;
}
.dubielplainregular{
font-family: 'dubielplainregular';
}
.trait_menu4{
    max-width: 30%;
    width: 100%;
    height: auto;
}
.dubielplainregular{
    
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    min-width: 150px;
}
.dubielplainregular::before{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;    
    margin-bottom: -5px;
}
.dubielplainregular:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* ----------------------Mentions légales-------------------------*/
#box_mentions{
    display: flex;
    justify-content: center;
    flex-flow: column;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin: 50px 25px 50px 25px;
    padding: 50px 50px 50px 50px;
}
/*------------------------------------------------------------------------------------------------------------*/
/*RESPONSIVE DESIGN*/

/*ordi*/
@media screen and (min-width: 1400px)
{
    .mini_box{
        display: flex;
         justify-content: space-between;
         margin: 0px 300px 0px 300px;
    }
}

/*petit écran*/
@media screen and (max-width: 1399px)
{
    .mini_box
    {
        display: flex;
        justify-content: space-between;
         margin: 0px 120px 0px 120px;
    }

}
/*tablettes*/                                /************************************ POURQUOI ON NE VOIT PAS LE FOOTER (IPAD VERTICALE)???? ****************************/
@media screen and (max-width: 1024px)
{
    .mini_box
    {
        display: flex;
        justify-content: space-between;
         margin: 0px 20px 0px 20px;
    }
    #container4
    {
        display: flex;
        flex-direction: column;
        margin: 0px -10px 55px -10px;
        padding-bottom: 20px;
        border-radius: 0px;
    }
        #container3
    {
        display: flex;
        flex-direction: column;
        margin: 0px -10px 55px -10px;
        padding-bottom: 20px;
        border-radius: 0px;
    }
        #container2
    {
        display: flex;
        flex-direction: column;
        margin: 0px -10px 55px -10px;
        padding-bottom: 20px;
        border-radius: 0px;
    }
        #container1
    {
        display: flex;
        flex-direction: column;
        margin: 0px -10px 55px -10px;
        padding-bottom: 20px;
        border-radius: 0px;
    }

}

/*smartphone*/                                /************************************ OU VA LE PRIX ???? ****************************/
@media only screen and (max-device-width:480px)
{
    .mini_box
    {
        display: flex;
        justify-content: space-between;
         margin: 0px 10px 0px 10px;
    }
}
